---
pagination:
  data: clues
  size: 1
  alias: clue
  addAllPagesToCollections: true
permalink: "/clues/{{ clue.filename }}/index.html"
layout: base
---
<link rel="stylesheet" href="{{ site.baseUrl }}clues/clues.css">
<header>
  <h1>{{ clue.title }}</h1>
  {% if clue.subtitle %}<p class="clue-subtitle">{{ clue.subtitle }}</p>{% endif %}
</header>

{% if clue.narration %}
<section class="clue-narration">
  <div>
    {{ clue.narration | markdown | safe }}
  </div>
</section>
{% endif %}

{% if clue.content %}
<section class="clue-content">
  <div>
    {{ clue.content | markdown | safe }}
  </div>
</section>
{% endif %}