<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }}{% elif refs.instructions.title %}{{ refs.instructions.title }} - {{ refs.instructions.subtitle }}{% else %}The Lost Souls of Kennebec Avenue Investigation{% endif %}</title>
  <link rel="stylesheet" href="{{ site.baseUrl }}css/styles.css">
</head>
<body>
  {{ content | safe }}
  <script src="{{ site.baseUrl }}js/skills.js" defer></script>
  <script src="{{ site.baseUrl }}js/clue-access.js" defer></script>
  <script src="{{ site.baseUrl }}js/effects.js" defer></script>
  <script src="{{ site.baseUrl }}js/main.js" defer></script>
  <script src="{{ site.baseUrl }}js/technical-check.js" defer></script>
  {% if page.url == '/reset/' %}
  <script src="{{ site.baseUrl }}js/reset.js" defer></script>
  {% else %}
  <script src="{{ site.baseUrl }}js/clue-page.js" defer></script>
  {% endif %}
</body>
</html>
